# Technical Challenge ! Custiomers and Orders - The lifeblood of any business!

This notebook depends on two data files: customers.scv and orders.csv. These files are hosted in the cloud (or Github), so for simplicity, we are providing you with the code to download and save the two files in a folder called 'sample_data' which lives within this notebook session (not on your local computer nor Google Drive).

![sample_data folder in notebook session](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/sample_data_folder.png)

Please execute the first code snippet before moving to the rest of the exercise as this code will import the data from the files for you to be able to execute the rest of the exercise.

Remember as we said in the previous lecture, you have to save this notebook into your Google Drive by going to menu File/Save a Copy In Drive, or clicking in the button "Copy to Drive". This way, you will not lose any work you've done and the file will persist with your latest changes in your Google Drive. Also we recommend you to rename your .ipynb in your Google Drive, so you can easily find it in the future.

In [1]:
import requests

def import_data_files():
  r = requests.get('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/customers.csv')
  with open('./sample_data/customers.csv', 'wb') as f:
    f.write(r.content)

  r = requests.get('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/orders.csv')
  with open('./sample_data/orders.csv', 'wb') as f:
    f.write(r.content)
  
import_data_files()
print("Customers and orders CSV files have been added './sample_data'")

Customers and orders CSV files have been added './sample_data'

# Exercise 1: Processing Customers data (difficulty medium)

The sample customer data in 'customers.csv' file has just 5 columns: CustomerId, First Name, Last Name, City and State

![Data sample](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/customers.png)

We strongly recommend that you complete from the [Prep Course: Intro to Python](https://colab.research.google.com/github/anyoneai/notebooks/blob/main/python3_crash_course.ipynb) the following section:
- Section 7: File I/O (to understand how to read CSV file) 
- Section 6: For Loop (to navigate the contents of the CSV file)
- Section 5: Tuples, Lists, and Dictionaries (to manipulate the data of the CSV file)

With this, we hope you can complete this exercise successfully. Although if you want to solve this with libraries or any other way, you are welcome to do it your way.

*Hint:* We advise you to take a look at the data before you start.
**if you want to manually take a look at the data before you start, please see the content of the data [here](https://github.com/anyoneai/notebooks/blob/main/customers_and_orders/data/customers.csv).

*Hint*: There are many ways to do this exercise you can do your own, although here's some help. You can solve this exercise reading and parsing CSV files, structuring data into dictionaries, and using for loops to navigate the contents

*Hint*: Also, keep in mind that data might not be clean and you might have to figure out how to deal with that data from the code, without having to modify the data source.

Below are the 5 questions you'll have to answer to pass the evaluation:

**Question 1:** How many customers are in the file?
(as help, we have added some comments and starter code to help you structure the solution)

In [38]:
from os.path import exists
import csv

# check if file can be found and open the file
datafile = "./sample_data/customers.csv"
if not exists(datafile):
    raise SystemExit("You should run the first code cell and download the dataset files!")

# customers file is in the sample_data folder and can be opened.
# Using csv reader is one way of dealing with the file 
# but it's up to you how you want to proceed
with open(datafile, 'r') as fl:
    csvreader = csv.reader(fl, delimiter=',')

    # initializing a counter variable for the number of customers
    customer_count = 0

    # looping through the rows and count the number of customers
    for i, row in enumerate(csvreader):
        if i == 0:
            continue  # skip header row - We don't wanna add it as part of our row/customer count
        customer_count += 1
    
    print(f"There are {customer_count} customers in the file.")
    
print("All done!")

There are 602 customers in the file.
All done!

In [37]:
#Here, I'll be using pandas, since it's easier for this task :) 
import pandas as pd

datafile = "./sample_data/customers.csv"
file = pd.read_csv(datafile)

In [17]:
#Just checking what we have on our file
file.head()

   CustomerID    FirstName      LastName         City State
0        6192        Randi    Piedrahita  Canoga Park    CA
1     5100595  Christopher       Abraham   Loma Linda    CA
2     1902451        Elvis      Jauregui  Los Angeles    CA
3     1906377         Jose  Mota-Sanchez       Downey    CA
4     1902406      Scott        McCrorie   Long Beach    CA

In [29]:
#Just checking what we have on our file part II
file.tail()

     CustomerID FirstName     LastName         City State
597     5415365   Trinity    Hall Reif        Poway    CA
598     5415465    Kisona  Mialoto Jr.      Lynwood    CA
599     5415345  Lawrence        Zhang  Temple City    CA
600     5415481      John       Hughes    Round Top    TX
601     5415482   Phillip       Okonma  Los Angeles    CA

In [27]:
#Number of customers can be interpreted as number of rows
file.count()[0]

602

In [20]:
#Confirming number of rows with different method
file.shape[0]

602

**Question 2:** In how many different states do the customers live in?

In [ ]:
# open file and init vars
# evaluate the contents of the file

In [46]:
import numpy as np

df = pd.DataFrame(file)

unique_states= df["State"].unique()
unique_states

array(['CA', 'AZ', 'NV', 'FL', 'CA           ', 'WA', 'NH', 'ID', 'CO',
       'Ca', 'TX', 'NM', 'OR', 'UT', 'MA', 'IN'], dtype=object)

In [49]:
#It seems we have some space issues and some case issues
#Let's fix those first

""" Let's take our original dataframe (file) and fix the 'State' column, so everything there can be
uppercase set and with no spaces before or after """

file['State'] = file['State'].str.upper()

#Let's check if our column is ok now regarding the uppercases
file['State'].unique()

array(['CA', 'AZ', 'NV', 'FL', 'CA           ', 'WA', 'NH', 'ID', 'CO',
       'TX', 'NM', 'OR', 'UT', 'MA', 'IN'], dtype=object)

In [52]:
#Now, let's get rid of the spaces

file['State'] = file['State'].str.strip()

#Let's check if our column is ok now regarding the uppercases

""" In this case, we are using thestrip method to replace all whitespace from column 'State'
to make sure all right, left, and between spaces are remove. """

file['State'].unique()

array(['CA', 'AZ', 'NV', 'FL', 'WA', 'NH', 'ID', 'CO', 'TX', 'NM', 'OR',
       'UT', 'MA', 'IN'], dtype=object)

In [53]:
#Now, let's find out how many unique states we have
len(file['State'].unique())

14

**Question 3** What is the state with most customers?

In [68]:
# open file and init vars
# evaluate the contents of the file

#Let's use group by to aggregate our customers per State and the coun method to see how many of them do we have in each State

file2 = file.groupby(['State'])['State'].count()

#Let's sort our colum in an descending way to get the State with more customers
file2.sort_values(ascending=False)

State
CA    569
NV      8
AZ      6
CO      3
FL      3
NM      3
TX      2
UT      2
ID      1
IN      1
MA      1
NH      1
OR      1
WA      1
Name: State, dtype: int64

**Question 4** What is the state with the least customers?

In [69]:
# open file and init vars
# evaluate the contents of the file
#Let's sort our colum in an ascending way to get the states with the least customers
file2.sort_values()

#We have that ID, IN, MA, NH, OR and WA are the States with the least customers

State
ID      1
IN      1
MA      1
NH      1
OR      1
WA      1
TX      2
UT      2
CO      3
FL      3
NM      3
AZ      6
NV      8
CA    569
Name: State, dtype: int64

**Question 5:** What is the most common last name?

In [70]:
# open file and init vars
# evaluate the contents of the file

file.columns

Index(['CustomerID', 'FirstName', 'LastName', 'City', 'State'], dtype='object')

In [73]:
file3 = file.groupby(['LastName'])['LastName'].count()
file3.sort_values(ascending=False)

#This give us that the most common lastname is Smith

LastName
Smith        8
Doggett      5
Zambrana     5
Gomez        5
Johnson      4
            ..
Maye         1
DePland      1
Mathewson    1
Mather       1
Oquinn       1
Name: LastName, Length: 424, dtype: int64

# Exercise 2: Processing Orders data (difficulty high)

The second sample files contains orders placed by customers from the first file. Be careful, this file has many rows and you most likely should not print the contents of the whole file. 

The file contains the following columns: CustomerID, OrderID, Date, OrderTotal, ProductName, Price

![Data sample](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/orders.png)

*Hint:* We advise you to take a look at the data before you start.
**if you want to manually take a look at the data before you start, please see the content of the data [here](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/orders.csv).

*Hint*: There are many ways to do this exercise you can do your own, although here's some help. You can solve this exercise reading and parsing CSV files, structuring data into dictionaries, and using for loops to navigate the contents

*Hint*: Also, the data is not clean and you will have to figure out how to deal with that data from the code, without having to modify the data source.



**Question #1:** How many unique orders are in the orders.csv file?

**Question #2:** What is the average number of items per order (rounded to two decimal places)?

**Question #3:** What is the highest number of items per order?

**Question #4:** What is the number of orders placed in October 2021?

**Question #5:** Which customer spent the most amount of money in 2021?

**Question #6:** Historically, what is the best month for sales?

Once you get your answers, remember to go back to the course and introduce them in the multiple choice quiz

In [ ]:
# open and evaluate orders.csv

# Finished!

Hope this was not too difficult and slicing and dicing the datasets was some fun. Now head on back to the course and provide the answers to the questions from this exercise.